-- Example 0
2
aa
ac

2
3
2
-- Example 1
0

2
0
1
-- Example 2
3
aa
bb
cc

2
6
90
-- Example 3
32
ac
ag
aj
bb
bf
bg
bh
ce
cg
da
de
df
dg
di
ea
eb
ef
ei
fb
fc
fg
gc
gf
gi
gj
hb
hh
hi
ib
ih
ij
jj

2
15
11461680
