-- Example 0
4
ELLY
KRIS
STAN

142572564
-- Example 1
11
TOPCODERSRM
INTHEMIDDLE
OFTHEDAYNOO

2840613885160
-- Example 2
18
EVERYSTEPTHATITAKE
ISANOTHERMISTAKETO
YOOOOOOOOOOOOOOOOO

325013178
-- Example 3
28
ANDNEVERMINDTHENOISEYOUHEARD
ITSJUSTTHEBEASTSUNDERYOURBED
INYOURCLOSETINYOURHEAAAAAAAD

745
